@inherits LayoutComponentBase

<PageTitle>小众导航</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
        <div style="display:flex;justify-content:center;line-height:50px;">
            <span style="text-align:center;">小众导航-小而美的网址导航</span>|
            <a href="https://www.rdonly.com/share" target="_blank">提交网址</a>|
            <a href="https://www.rdonly.com/share" target="_blank">更新日志</a>|
            <a href="https://www.rdonly.com/contactus" target="_blank">联系我们</a>
        </div>
    </main>
</div>
